<div class="d-flex  mt-2 col-md-5 col-sm-5">
    <input class="form-control form-control-lg " type="text" placeholder=" Search Customer" aria-label=".form-control-lg example" style="border-radius:0px" #search >
    <button type="button" class="btn btn-primary p-0 col-md-3 col-sm-5 "  style=" background-color: #8b22e2;height:50px;border-radius:0px;border:none;" (click)="seachAppointmentsName(search.value)">Search</button>
</div>
<table class="table table-hover " style="overflow: scroll;">
    <thead>
      <tr>
        <th scope="col">Sr no</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Mobile No</th>
        <th scope="col">Address</th>
        <th scope="col">Appointment Date</th>
        <th scope="col">Appointment Time</th>
        <th scope="col">Status</th>
        <th scope="col">Action</th>
      
      </tr>
    </thead>
    <tbody>
     <ng-container *ngFor="let i Of data; let index=index">
      <tr >
        <td class="">{{index+1}}</td>
        <td class="">{{i.name}}</td>
        <td class="">{{i.email}}</td>
        <td class="">{{i.mobile_no }}</td>
        <td class="">{{i.address}}</td>
        <td class="">{{i.booked_date | date:'mediumDate' }}</td>
        <td class="">{{i.booked_time | TimeFormat24Pipe}}</td>
        <td class="">{{i.status}}</td>
        <td >
          <button  style="background-color:#8b22e2;color:white;" class="btn" (click)="updateStatus('Confirm',i.appointment_business_booking,i.name)">Confirm </button>
          <button  style="background-color:#8b22e2;color:white;" class="btn m-1" (click)="updateStatus('Cancel',i.appointment_business_booking,i.name)">Discard</button>
        </td>
        
      </tr>
    </ng-container>
    
    </tbody>
  </table>
  